/*
 * 文章内容样式
 * 代码 超链接 等样式
 *
 * Created by 狐zerOAO
 */

article.main-container {
    font-family: sans;
    line-height: 1.5;
    padding: 0 1em;
}

article.main-container>p {
    padding-left: 1em;
    overflow: auto;
}

article.main-container a {
    text-decoration: none;
}

.article-comment {
    text-align: center;
}

article blockquote {
    border-left-width: 3px;
    border-left-style: solid;
    border-top-width: 3px;
    border-top-style: solid;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    padding-block-start: 6px;
    padding-block-end: 6px;
}

article table {
    width: 90%;
    margin: 0 auto;
    border: 1px solid;
    border-collapse: collapse;
}

article table td {
    border: 1px solid;
    padding: 0 6px;
}

article table th {
    border: 1px solid;
    padding: 0 9px;
}

article img {
    max-width: 100%;
}

article code {
    font-size: large;
    padding: 0px 8px;
    border-radius: 6px;
    margin: 0 3px;
}

article pre>code {
    display: block;
    overflow-x: auto;
    padding: 16px;
}

.article-toc {
    position: sticky;
    top: 40px;
    overflow: auto;
    height: 80vh;
}

/* 目录设置 */
.toc {
    padding: 0;
    font-size: small;
}

.toc-child {
    padding: 0 8px;
}

.toc,
.toc-child {
    list-style: none;
}

.toc-link {
    display: block;
    margin: 6px 0;
    text-decoration: none;
}

#gitalk-container {
    border-radius: 16px;
    padding: 0px 16px;
    margin: 16px 0px;
}
