*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
*:hover::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--huzerovo-scrollbar-track);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  background: var(--huzerovo-scrollbar-thumb);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb :hover {
  background: var(--huzerovo-scrollbar-thumb-hover);
}
*::-webkit-scrollbar-corner {
  background: var(--huzerovo-scrollbar-corner);
}
html {
  font-family: sans;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
body {
  margin: 0;
  transition: 300ms;
  background-color: var(--huzerovo-background);
  color: var(--huzerovo-normal-text);
}
a {
  color: var(--huzerovo-link);
}
a:visited {
  color: var(--huzerovo-link-visted);
}
a:hover {
  color: var(--huzerovo-link-hover);
}
hr {
  border: solid 1px var(--huzerovo-line);
  border-top: none;
}
strong {
  color: var(--huzerovo-notable-text);
}
mark {
  background-color: var(--huzerovo-mark-color);
}
#goto-top {
  background-color: var(--huzerovo-btn-bg);
  color: var(--huzerovo-btn-text);
  opacity: 50%;
  transition: 300ms;
  position: fixed;
  right: 8%;
  bottom: 8%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#topbar {
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: var(--huzerovo-background);
  border-bottom: solid 1px var(--huzerovo-line);
  opacity: 0.9;
  transition: background-color 0.3s;
}
#topbar #active-page {
  background-color: var(--huzerovo-btn-bg-active);
  color: var(--huzerovo-btn-text-active);
}
#topbar .topbar-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#topbar .topbar-container .topbar-menu {
  max-width: 70%;
  overflow-x: scroll;
  scrollbar-width: none;
}
#topbar .topbar-container .topbar-menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#topbar .topbar-container .topbar-menu ul li {
  min-width: fit-content;
}
#topbar .topbar-container .topbar-menu a {
  color: var(--huzerovo-btn-text);
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
#topbar .topbar-container .topbar-menu a:hover {
  background-color: var(--huzerovo-btn-bg-hover);
  color: var(--huzerovo-btn-text-hover);
}
#topbar .topbar-container .topbar-menu::-webkit-scrollbar {
  display: none;
}
#topbar .topbar-container .topbar-icon-buttons {
  max-width: 30%;
  overflow-x: scroll;
  display: flex;
  align-content: center;
  transition: color 0.3s;
  margin: auto 0;
}
#topbar .topbar-container .topbar-icon-buttons .icon-button {
  padding: 8px 16px;
  border: none;
  color: var(--huzerovo-btn-text);
  cursor: pointer;
  background: none;
  font-size: 16px;
}
#topbar .topbar-container .topbar-icon-buttons::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 960px) {
  #topbar .topbar-container {
    width: 95%;
  }
}
@media screen and (max-width: 640px) {
  #topbar .topbar-container {
    width: 100%;
    justify-content: center;
  }
  #topbar .topbar-container .topbar-menu {
    max-width: unset;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #topbar .topbar-container .topbar-icon-buttons {
    display: grid;
    position: fixed;
    bottom: 5%;
    left: 5%;
  }
}
main.container {
  width: 60%;
  margin: 0 auto;
  /* 目录设置 */
  /* 文章内容 */
  /* 文章标签 */
  /* 日期信息 */
  /* 评论 */
}
main.container .page-title {
  text-align: center;
}
main.container a {
  text-decoration: none;
}
main.container .page-about-me {
  width: 60%;
  margin: 16px auto;
  text-align: center;
  border-radius: 16px;
}
main.container .page-about-me .page-about-avatar {
  border-radius: 100%;
}
main.container .page-about-me .page-about-description {
  margin-top: 16px;
  overflow-wrap: break-word;
  text-align: left;
  color: var(--huzerovo-trivial-text);
}
main.container .page-about-me .page-about-description > p {
  text-align: center;
  margin: 0;
  text-indent: 0;
}
main.container .page-about-me .page-about-description a {
  text-decoration: none;
  color: #9999ff;
}
@media (max-width: 480px) {
  main.container .page-about-me {
    width: 90%;
  }
}
main.container .page-archive {
  width: 80%;
  margin: 16px auto;
}
main.container .page-archive a:visited {
  color: var(--huzerovo-link);
}
main.container .page-archive a:hover {
  color: var(--huzerovo-link-hover);
}
main.container .page-archive .page-archive-year {
  font-size: 32px;
}
main.container .page-archive .page-archive-item {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin: 0 6px;
}
main.container .page-archive .page-archive-item .page-archive-item-date {
  color: var(--huzerovo-trivial-text);
}
main.container .page-archive .page-archive-item a.page-archive-item-link {
  text-decoration: none;
  width: 80%;
  padding: 8px;
  margin-left: 64px;
  border-radius: 8px;
  transition: 100ms;
  color: var(--huzerovo-normal-text);
}
main.container .page-archive .page-archive-item a.page-archive-item-link:hover {
  background-color: var(--huzerovo-background-highlight);
  color: var(--huzerovo-notable-text);
}
@media (max-width: 480px) {
  main.container .page-archive {
    width: 90%;
  }
}
main.container .articles-list .articles-list-item {
  display: block;
  width: 80%;
  margin: 16px auto;
  border-radius: 16px;
  overflow: hidden;
  transition: background-color 0.3s;
  background-color: var(--huzerovo-background-highlight);
}
main.container .articles-list .articles-list-item a {
  color: var(--huzerovo-normal-text);
  margin: 32px;
  display: block;
  text-decoration: none;
  overflow: hidden;
}
main.container .articles-list .articles-list-item a:hover {
  color: var(--huzerovo-notable-text);
}
main.container .articles-list .item-gallery {
  margin: 0px;
}
main.container .articles-list .item-gallery img {
  cursor: pointer;
  width: 100%;
}
main.container .articles-list .post-entry-title {
  font-size: 24px;
  margin-top: 0;
}
main.container .articles-list .item-content {
  margin: 0;
  color: var(--huzerovo-additional-text);
}
main.container .articles-list .item-footer {
  display: flex;
  justify-content: space-between;
  margin: 32px;
  position: relative;
  color: var(--huzerovo-trivial-text);
}
main.container .articles-list .item-footer .item-footer-todo {
  color: var(--huzerovo-warn-color);
  margin: 0px;
  text-align: left;
}
main.container
  .articles-list
  .item-footer
  .item-footer-todo
  .item-footer-todo-msg {
  display: inline;
  margin-right: 8px;
}
main.container .articles-list .item-footer .item-footer-pin {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
main.container .articles-list .item-footer .item-footer-finished {
  color: var(--huzerovo-done-color);
}
@media (max-width: 480px) {
  main.container .articles-list .articles-list-item {
    width: 90%;
  }
}
main.container .page-category {
  width: 80%;
  margin: 0 auto;
  color: var(--huzerovo-normal-text);
}
main.container .page-category a {
  color: var(--huzerovo-additional-text);
}
main.container .page-category a:hover {
  background-color: var(--huzerovo-background-highlight);
  color: var(--huzerovo-notable-text);
}
main.container .page-category .category-list {
  list-style: none;
  display: inline-block;
  padding: 0px;
  width: 100%;
  margin: 0;
}
@media (max-width: 480px) {
  main.container .page-category {
    width: 90%;
  }
}
main.container .category-list-item {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
main.container .category-list-item .category-list-link {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  margin-right: 32px;
}
main.container .category-list-item .category-list-count {
  padding-top: 8px;
  position: absolute;
  right: 0px;
}
main.container .category-list-item .category-list-child {
  padding-left: 16px;
  width: 100%;
}
main.container #article-toc {
  position: fixed;
  left: 5%;
  min-width: 10%;
  max-width: 15%;
  height: 80vh;
  overflow: auto;
  padding-right: 2px;
  margin-right: 6px;
}
main.container #article-toc a {
  color: var(--huzerovo-additional-text);
}
main.container #article-toc a:hover {
  color: var(--huzerovo-notable-text);
}
main.container #article-toc .toc {
  padding: 0;
  font-size: small;
  list-style: none;
}
main.container #article-toc .toc-child {
  padding: 0 4px;
  list-style: none;
}
main.container #article-toc .toc-link {
  transition: color 0.3s;
  display: block;
  margin: 6px 0;
  text-decoration: none;
}
main.container #article-toc .toc-level-2 > a.toc-link {
  color: var(--huzerovo-normal-text);
}
main.container #article-toc .toc-level-2 > a.toc-link ::before {
  content: "# ";
}
main.container #article-toc .toc-level-2 > a:hover {
  color: var(--huzerovo-notable-text);
}
main.container .article-container {
  line-height: 1.5;
  padding: 0 16px;
  /* 从官方主题landscape抄来的 */
}
main.container .article-container h1 {
  text-align: center;
}
main.container .article-container > p {
  text-indent: 32px;
}
main.container .article-container a {
  transition: 0ms;
  text-decoration: none;
}
main.container .article-container em {
  padding-right: 3px;
}
main.container .article-container blockquote {
  background-color: var(--huzerovo-block-background);
  color: var(--huzerovo-block-text);
  border-left: solid 3px var(--huzerovo-line);
  margin: 8px 0px;
  padding: 0px 2em;
  width: calc(100% - 64px - 3px);
  display: inline-block;
  transition:
    color 0.3s,
    background-color 0.3s;
}
main.container .article-container blockquote p {
  text-indent: 0px;
}
main.container .article-container blockquote cite {
  margin: 0px 8px;
}
main.container .article-container table {
  width: 90%;
  margin: 8px auto;
  border: 1px solid;
  border-collapse: collapse;
}
main.container .article-container table thead {
  transition: background-color 0.3s;
  background-color: var(--huzerovo-thead-bg);
  color: var(--huzerovo-thead-text);
}
main.container .article-container table tbody {
  background-color: var(--huzerovo-tbody-bg);
  color: var(--huzerovo-tbody-text);
  transition: background-color 0.3s;
}
main.container .article-container table tbody td {
  border: 1px solid;
  padding: 3px 6px;
}
main.container .article-container table tbody th {
  border: 1px solid;
  padding: 3px 6px;
}
main.container .article-container img {
  max-width: 80%;
  display: block;
  margin: 8px auto;
  cursor: pointer;
}
main.container .article-container code {
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 6px;
  margin: 3px;
  transition:
    color 0.3s,
    background-color 0.3s;
}
main.container .article-container code:not([class*="language"]) {
  background-color: var(--huzerovo-code-background);
  color: var(--huzerovo-code-text);
}
main.container .article-container pre code {
  display: block;
  overflow: auto;
  padding: 16px 32px;
}
main.container .article-container pre code:not([class~="hljs"]) {
  background-color: var(--huzerovo-code-background);
  color: var(--huzerovo-code-text);
}
main.container .article-container figure.highlight {
  overflow-x: auto;
  border-radius: 6px;
}
main.container .article-container figure.highlight table {
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: unset;
  border: unset;
}
main.container .article-container figure.highlight table tbody {
  background: #0d1117;
}
main.container .article-container figure.highlight table td {
  border: none;
  padding: unset;
}
main.container .article-container figure.highlight table th {
  border: none;
  padding: unset;
}
main.container .article-container figure.highlight table .gutter {
  text-align: right;
  border-right: gray solid 1px;
}
main.container .article-container figure.highlight table .gutter pre {
  padding: 0 8px;
  color: green;
}
main.container .article-container figure.highlight table .code pre {
  padding-left: 8px;
  margin: 0;
  /*!
                 * Theme: GitHub Dark
                 * Description: Dark theme as seen on github.com
                 * Author: github.com
                 * Maintainer: @Hirse
                 * Updated: 2021-05-15
                 *
                 * Outdated base version: https://github.com/primer/github-syntax-dark
                 * Current colors taken from GitHub's CSS
                 */
}
main.container .article-container figure.highlight table .code pre code {
  margin: 0;
  padding: 0;
}
main.container .article-container figure.highlight table .code pre code mark {
  background-color: #505050;
}
main.container .article-container figure.highlight table .code pre .hljs {
  color: #c9d1d9;
  background: #0d1117;
}
main.container .article-container figure.highlight table .code pre .hljs-doctag,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-keyword,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-meta
  .hljs-keyword,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-template-tag,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-template-variable,
main.container .article-container figure.highlight table .code pre .hljs-type,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-variable.language_ {
  color: #ff7b72;
}
main.container .article-container figure.highlight table .code pre .hljs-title,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-title.class_,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-title.class_.inherited__,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-title.function_ {
  color: #d2a8ff;
}
main.container .article-container figure.highlight table .code pre .hljs-attr,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-attribute,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-literal,
main.container .article-container figure.highlight table .code pre .hljs-meta,
main.container .article-container figure.highlight table .code pre .hljs-number,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-operator,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-selector-attr,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-selector-class,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-selector-id,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-variable {
  color: #79c0ff;
}
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-meta
  .hljs-string,
main.container .article-container figure.highlight table .code pre .hljs-regexp,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-string {
  color: #a5d6ff;
}
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-built_in,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-symbol {
  color: #ffa657;
}
main.container .article-container figure.highlight table .code pre .hljs-code,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-comment,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-formula {
  color: #8b949e;
}
main.container .article-container figure.highlight table .code pre .hljs-name,
main.container .article-container figure.highlight table .code pre .hljs-quote,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-selector-pseudo,
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-selector-tag {
  color: #7ee787;
}
main.container .article-container figure.highlight table .code pre .hljs-subst {
  color: #c9d1d9;
}
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-section {
  color: #1f6feb;
  font-weight: 700;
}
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-bullet {
  color: #f2cc60;
}
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}
main.container
  .article-container
  figure.highlight
  table
  .code
  pre
  .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}
main.container .article-container span.katex {
  padding-left: 3px;
  padding-right: 3px;
}
main.container .article-container .katex-display {
  width: 100%;
  padding: 8px 0;
}
main.container .article-container .katex-display > .katex {
  overflow: auto visible;
}
main.container .article-container .katex-display > .katex .katex-html {
  min-width: fit-content;
  width: 75%;
  margin: 8px auto;
}
main.container .article-container .katex-display > .katex .katex-html .tag {
  position: absolute;
  left: 100%;
  margin-left: 16px;
  width: fit-content;
}
main.container .article-container .katex-display .katex::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
main.container
  .article-container
  .katex-display
  .katex:hover::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
main.container
  .article-container
  .katex-display
  .katex::-webkit-scrollbar-track {
  border-radius: 8px;
}
main.container
  .article-container
  .katex-display
  .katex::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
main.container .article-container .pullquote {
  display: inline-block;
  border: none;
  width: 45%;
  margin: 16px;
  padding: 0 16px;
}
main.container .article-container .pullquote.left {
  float: left;
}
main.container .article-container .pullquote.right {
  float: right;
}
main.container .article-container .video-container {
  position: relative;
  padding-top: 50%;
  height: 0;
  overflow: hidden;
}
main.container .article-container .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
main.container .article-container .contains-task-list {
  list-style: none;
}
main.container .article-meta-info {
  color: var(--huzerovo-additional-text);
}
main.container .article-meta-info span {
  display: block;
}
main.container .article-meta-info a {
  position: relative;
  left: 16px;
  transition: 0ms;
  text-decoration: none;
  margin-left: 16px;
}
main.container .article-date-info {
  margin: 8px auto;
  color: var(--huzerovo-trivial-text);
}
main.container .article-date-info span {
  font-size: small;
  font-style: italic;
  display: block;
}
main.container .article-comment {
  text-align: center;
  border-radius: 16px;
  padding: 16px;
  margin: 16px 0px;
  transition: background-color 0.3s;
  background-color: var(--huzerovo-background-highlight);
}
main.container .article-comment #gitalk-container {
  text-align: left;
}
main.container .article-comment #gitalk-container img {
  border-radius: 100%;
}
main.container .article-comment #gitalk-container blockquote {
  background: var(--huzerovo-background-highlight);
  width: 100%;
}
main.container .article-comment #gitalk-container .gt-meta {
  margin-top: 0px;
  padding-top: 0px;
}
main.container .article-comment #gitalk-container .gt-comment-content {
  border-radius: 8px;
}
main.container .article-comment #gitalk-container .gt-comment-content:hover {
  box-shadow: unset;
}
@media (max-width: 960px) {
  main.container #article-toc {
    position: unset;
    max-width: 30%;
    height: fit-content;
    max-height: 60vh;
    float: left;
    margin: 0 16px;
  }
}
@media (max-width: 480px) {
  main.container #article-toc {
    display: block;
    max-width: 100%;
    height: fit-content;
    width: 80%;
    float: unset;
    margin: 0 auto;
  }
}
main.container .search-bar {
  display: flex;
}
main.container #search-input {
  margin: 16px auto;
  height: 40px;
  width: 80%;
  font-size: 16px;
  border: solid 1px;
  border-radius: 16px;
  border-color: var(--huzerovo-line);
  background: var(--huzerovo-background-highlight);
  color: var(--huzerovo-normal-text);
  padding: 0px 16px;
}
main.container .tagcloud-0 {
  color: var(--huzerovo-tagcloud-0);
}
main.container .tagcloud-1 {
  color: var(--huzerovo-tagcloud-1);
}
main.container .tagcloud-2 {
  color: var(--huzerovo-tagcloud-2);
}
main.container .tagcloud-3 {
  color: var(--huzerovo-tagcloud-3);
}
main.container .tagcloud-4 {
  color: var(--huzerovo-tagcloud-4);
}
main.container .tagcloud-5 {
  color: var(--huzerovo-tagcloud-5);
}
main.container .tagcloud-6 {
  color: var(--huzerovo-tagcloud-6);
}
main.container .tagcloud-7 {
  color: var(--huzerovo-tagcloud-7);
}
main.container .tagcloud-8 {
  color: var(--huzerovo-tagcloud-8);
}
main.container .tagcloud-9 {
  color: var(--huzerovo-tagcloud-9);
}
main.container .tagcloud-0:hover,
main.container .tagcloud-1:hover,
main.container .tagcloud-2:hover,
main.container .tagcloud-3:hover,
main.container .tagcloud-4:hover,
main.container .tagcloud-5:hover,
main.container .tagcloud-6:hover,
main.container .tagcloud-7:hover,
main.container .tagcloud-8:hover,
main.container .tagcloud-9:hover {
  color: var(--huzerovo-tagcloud-hover);
}
main.container .page-tagcloud {
  width: 80%;
  margin: 16px auto;
}
main.container .page-tagcloud a {
  display: inline-block;
  text-decoration: none;
  margin: 0 6px;
}
@media (max-width: 480px) {
  main.container .page-tagcloud {
    width: 90%;
  }
}
@media screen and (max-width: 960px) {
  main.container {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  main.container {
    width: 100%;
  }
}
.pager {
  display: flex;
  overflow: auto;
  margin: 16px 0;
}
.pager .page-list {
  margin: 0 auto;
  display: flex;
}
.pager .page-list span,
.pager .page-list a {
  color: var(--huzerovo-additional-text);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.pager .page-list span:hover,
.pager .page-list a:hover {
  color: var(--huzerovo-notable-text);
}
.pager .page-list .current {
  color: var(--huzerovo-normal-text);
}
#site-footer {
  color: var(--huzerovo-trivial-text);
  text-align: center;
  font-size: smaller;
}
