/*
 * 网站整体样式框架，不包括颜色设置
 */
html {
  font-family: sans;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
body {
  margin: 0;
  transition: 300ms;
  /* 顶部菜单栏 */
  /* 20 * 16 px */
  /* 主体区域 */
  /* 60 * 16 px */
  /* 40 * 16 px */
  /* 网站页尾 */
  /* 分页器 */
}
body .topbar {
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 9;
  transition: 300ms;
}
body .topbar * {
  transition: 300ms;
}
body .topbar .topbar-container {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .topbar .topbar-container .topbar-menu {
  max-width: 80%;
  overflow-x: scroll;
}
body .topbar .topbar-container .topbar-menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body .topbar .topbar-container .topbar-menu ul li {
  min-width: fit-content;
}
body .topbar .topbar-container .topbar-menu a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
body .topbar .topbar-container .topbar-icon-buttons {
  max-width: 20%;
  overflow-x: scroll;
  display: flex;
  align-content: center;
}
body .topbar .topbar-container .topbar-icon-buttons .icon-button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  body .topbar .topbar-container {
    width: 100%;
    justify-content: center;
  }
  body .topbar .topbar-container .topbar-menu {
    max-width: unset;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body .topbar .topbar-container .topbar-icon-buttons {
    display: grid;
    position: fixed;
    bottom: 5%;
    left: 5%;
  }
}
body main.container {
  width: 60%;
  margin: 0 auto;
  /* 页面标题 */
  transition: 300ms;
  /* 默认使用的文章列表 */
  /* 文章列表 */
  /* 归档页的样式 */
  /* 归档页面的样式 */
  /* 分类页面的样式 */
  /* 分类页面 */
  /* 标签云页面的样式 */
  /* 标签云 */
  /* 文章样式 */
  /* 文章页面样式 */
  /* 目录设置 */
  /* 文章内容 */
  /* 文章标签 */
  /* 日期信息 */
  /* 评论 */
  /* 搜索页面 */
  /* 搜索页样式 */
}
body main.container .page-title {
  text-align: center;
}
body main.container * {
  transition: 300ms;
}
body main.container .articles-list .articles-list-item {
  display: block;
  width: 80%;
  margin: 16px auto;
  border-radius: 16px;
  overflow: hidden;
}
body main.container .articles-list .articles-list-item a {
  margin: 32px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  transition: 0ms;
}
body main.container .articles-list .articles-list-item .item-gallery {
  margin: 0px;
}
body main.container .articles-list .articles-list-item .item-gallery img {
  cursor: pointer;
  width: 100%;
}
body main.container .articles-list .articles-list-item .item-title {
  font-size: 24px;
  margin-top: 0;
}
body main.container .articles-list .articles-list-item .item-content {
  margin: 0;
}
body main.container .articles-list .articles-list-item .item-footer {
  display: flex;
  justify-content: space-between;
  margin: 32px;
}
body main.container .articles-list .articles-list-item .item-footer .item-footer-todo {
  margin: 0px;
  text-align: left;
}
body main.container .articles-list .articles-list-item .item-footer .item-footer-todo .item-footer-todo-msg {
  display: inline;
  margin-right: 8px;
}
@media (max-width: 480px) {
  body main.container .articles-list .articles-list-item {
    width: 90%;
  }
}
body main.container .page-archive {
  width: 80%;
  margin: 16px auto;
}
body main.container .page-archive .page-archive-year {
  font-size: 32px;
}
body main.container .page-archive .page-archive-item {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin: 0 6px;
}
body main.container .page-archive .page-archive-item a {
  text-decoration: none;
  width: 80%;
  padding: 8px;
  margin-left: 64px;
  border-radius: 8px;
  transition: 100ms;
}
@media (max-width: 480px) {
  body main.container .page-archive {
    width: 90%;
  }
}
body main.container .page-category {
  width: 80%;
  margin: 0 auto;
}
body main.container .page-category .category-list {
  list-style: none;
  display: inline-block;
  padding: 0px;
  width: 100%;
}
@media (max-width: 480px) {
  body main.container .page-category {
    width: 90%;
  }
}
body main.container .category-list-item {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main.container .category-list-item a {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
}
body main.container .category-list-item span {
  position: floor;
  padding: 8px;
}
body main.container .category-list-item .category-list-child {
  padding-left: 16px;
  width: 100%;
}
body main.container .page-tagcloud {
  width: 80%;
  margin: 16px auto;
}
body main.container .page-tagcloud a {
  display: inline-block;
  text-decoration: none;
  margin: 0 6px;
}
@media (max-width: 480px) {
  body main.container .page-tagcloud {
    width: 90%;
  }
}
body main.container #article-toc {
  position: fixed;
  top: 40px;
  left: 5%;
  max-width: 15%;
  height: 80vh;
  overflow: auto;
}
body main.container #article-toc .toc {
  padding: 0;
  font-size: small;
  list-style: none;
}
body main.container #article-toc .toc-child {
  padding: 0 8px;
  list-style: none;
}
body main.container #article-toc .toc-link {
  display: block;
  margin: 6px 0;
  text-decoration: none;
}
@media (max-width: 960px) {
  body main.container #article-toc {
    position: unset;
    max-width: 30%;
    height: fit-content;
    max-height: 60vh;
    float: left;
    margin-right: 16px;
  }
}
@media (max-width: 480px) {
  body main.container #article-toc {
    display: block;
    max-width: 100%;
    height: fit-content;
    width: 80%;
    float: unset;
    margin: 0 auto;
  }
}
body main.container .article-container {
  line-height: 1.7;
  padding: 0 16px;
  /* 从官方主题landscape抄来的 */
}
body main.container .article-container h1 {
  text-align: center;
}
body main.container .article-container > p {
  text-indent: 32px;
}
body main.container .article-container a {
  transition: 0ms;
  text-decoration: none;
}
body main.container .article-container blockquote {
  border-left-width: 3px;
  border-left-style: solid;
  margin: 8px 0px;
  padding: 8px 32px;
  width: calc(100% - 64px - 3px);
  display: inline-block;
}
body main.container .article-container blockquote p {
  text-indent: 0px;
}
body main.container .article-container blockquote cite {
  margin: 0px 8px;
}
body main.container .article-container table {
  width: 90%;
  margin: 8px auto;
  border: 1px solid;
  border-collapse: collapse;
}
body main.container .article-container table td {
  border: 1px solid;
  padding: 3px 6px;
}
body main.container .article-container table th {
  border: 1px solid;
  padding: 3px 6px;
}
body main.container .article-container img {
  max-width: 80%;
  display: block;
  margin: 8px auto;
  cursor: pointer;
}
body main.container .article-container code {
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 6px;
  margin: 3px;
}
body main.container .article-container pre code {
  display: block;
  overflow-x: auto;
  padding: 16px 32px;
}
body main.container .article-container .pullquote {
  display: inline-block;
  border: none;
  width: 45%;
  margin: 16px;
  padding: 0 16px;
}
body main.container .article-container .pullquote.left {
  float: left;
}
body main.container .article-container .pullquote.right {
  float: right;
}
body main.container .article-container .video-container {
  position: relative;
  padding-top: 50%;
  height: 0;
  overflow: hidden;
}
body main.container .article-container .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
body main.container .article-container .contains-task-list {
  list-style: none;
}
body main.container .article-meta-info span {
  display: block;
}
body main.container .article-meta-info a {
  position: relative;
  left: 16px;
  transition: 0ms;
  text-decoration: none;
  margin-left: 16px;
}
body main.container .article-date-info {
  margin: 8px auto;
}
body main.container .article-date-info span {
  font-size: small;
  font-style: italic;
  display: block;
}
body main.container .article-comment {
  text-align: center;
  border-radius: 16px;
  padding: 16px;
  margin: 16px 0px;
}
body main.container .article-comment #gitalk-container {
  text-align: left;
}
body main.container .article-comment #gitalk-container img {
  border-radius: 100%;
}
body main.container .article-comment #gitalk-container blockquote {
  width: 100%;
}
body main.container .article-comment #gitalk-container .gt-meta {
  margin-top: 0px;
  padding-top: 0px;
}
body main.container .article-comment #gitalk-container .gt-comment-content {
  border-radius: 8px;
}
body main.container .article-comment #gitalk-container .gt-comment-content:hover {
  box-shadow: unset;
}
body main.container .search-input {
  display: flex;
}
body main.container .search-input input {
  margin: 16px auto;
  height: 40px;
  width: 80%;
  font-size: 16px;
  border: solid 1px;
  border-radius: 16px;
  padding: 0px 16px;
}
@media screen and (max-width: 960px) {
  body main.container {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  body main.container {
    width: 100%;
  }
}
body #goto-top {
  transition: 300ms;
  position: fixed;
  right: 8%;
  bottom: 8%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
body footer {
  text-align: center;
  transition: 300ms;
}
body footer * {
  transition: 300ms;
}
body footer a {
  transition: 0ms;
}
body .pager {
  display: flex;
  overflow: auto;
  margin: 16px 0;
}
body .pager .page-list {
  margin: 0 auto;
  display: flex;
}
body .pager .page-list span,
body .pager .page-list a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
