:root {
  --huzerovo-background: #f0f0f0;
  --huzerovo-background-highlight: #f9f9f9;
  --huzerovo-btn-text: #000000;
  --huzerovo-btn-bg: #ffffff;
  --huzerovo-btn-text-active: #ffffff;
  --huzerovo-btn-bg-active: #000000;
  --huzerovo-btn-text-hover: #ffffff;
  --huzerovo-btn-bg-hover: #5a5a5a;
  --huzerovo-notable-text: #000000;
  --huzerovo-normal-text: #505050;
  --huzerovo-additional-text: #6b6b6b;
  --huzerovo-trivial-text: #878787;
  --huzerovo-done-color: #32cd32;
  --huzerovo-warn-color: #ffa500;
  --huzerovo-mark-color: #f5deb3;
  --huzerovo-line: #e0e0e0;
  --huzerovo-link: #4a5cd4;
  --huzerovo-link-visited: #7d6fb8;
  --huzerovo-link-hover: #3d4fc4;
  --huzerovo-block-background: #ececec;
  --huzerovo-block-text: #5f5f5f;
  --huzerovo-code-background: var(--huzerovo-block-background);
  --huzerovo-code-text: #9a4f1f;
  --huzerovo-thead-bg: #d3d3d3;
  --huzerovo-thead-text: #000000;
  --huzerovo-tbody-bg: #ffffff;
  --huzerovo-tbody-text: #000000;
  --huzerovo-scrollbar-track: var(--huzerovo-line);
  --huzerovo-scrollbar-thumb: #c0c0c0;
  --huzerovo-scrollbar-thumb-hover: #808080;
  --huzerovo-scrollbar-corner: #696969;
  --huzerovo-tagcloud-0: #969696;
  --huzerovo-tagcloud-1: #878787;
  --huzerovo-tagcloud-2: #787878;
  --huzerovo-tagcloud-3: #696969;
  --huzerovo-tagcloud-4: #5a5a5a;
  --huzerovo-tagcloud-5: #4b4b4b;
  --huzerovo-tagcloud-6: #3c3c3c;
  --huzerovo-tagcloud-7: #2d2d2d;
  --huzerovo-tagcloud-8: #1e1e1e;
  --huzerovo-tagcloud-9: #0f0f0f;
  --huzerovo-tagcloud-hover: #000000;
}
