:root {
  --huzerovo-background: #f7f7f7;
  --huzerovo-background-highlight: white;
  --huzerovo-btn-text: black;
  --huzerovo-btn-bg: lightgray;
  --huzerovo-btn-text-active: white;
  --huzerovo-btn-bg-active: black;
  --huzerovo-btn-text-hover: white;
  --huzerovo-btn-bg-hover: gray;
  --huzerovo-notable-text: black;
  --huzerovo-normal-text: #505050;
  --huzerovo-additional-text: gray;
  --huzerovo-trivial-text: lightgray;
  --huzerovo-done-color: limegreen;
  --huzerovo-warn-color: orange;
  --huzerovo-mark-color: wheat;
  --huzerovo-line: #e0e0e0;
  --huzerovo-link: #9999ff;
  --huzerovo-link-visted: orange;
  --huzerovo-link-hover: tomato;
  --huzerovo-block-background: #ececec;
  --huzerovo-block-text: gray;
  --huzerovo-code-background: var(--huzerovo-background-highlight);
  --huzerovo-code-text: peru;
  --huzerovo-thead-bg: lightgray;
  --huzerovo-thead-text: black;
  --huzerovo-tbody-bg: var(--huzerovo-background);
  --huzerovo-tbody-text: black;
  --huzerovo-scrollbar-track: var(--huzerovo-line);
  --huzerovo-scrollbar-thumb: #c0c0c0;
  --huzerovo-scrollbar-thumb-hover: gray;
  --huzerovo-scrollbar-corner: dimgray;
  --huzerovo-tagcloud-0: #b4b4b4;
  --huzerovo-tagcloud-1: #a0a0a0;
  --huzerovo-tagcloud-2: #8c8c8c;
  --huzerovo-tagcloud-3: #787878;
  --huzerovo-tagcloud-4: #646464;
  --huzerovo-tagcloud-5: #505050;
  --huzerovo-tagcloud-6: #3c3c3c;
  --huzerovo-tagcloud-7: #282828;
  --huzerovo-tagcloud-8: #141414;
  --huzerovo-tagcloud-9: #000000;
  --huzerovo-tagcloud-hover: black;
}
