/*
 * 主题整体布局样式
 *
 * Created by 狐zerOAO
 */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#goto-top {
    position: fixed;
    right: 8%;
    bottom: 8%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* 主体区域 */
main {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 0 1em;
    margin: 0 auto;
}

.search-input {
    display: flex;

}

.search-input input {
    margin: 16px auto;
    height: 40px;
    width: 80%;
    font-size: 16px;
    border: solid 1px;
    border-radius: 16px;
    padding: 0px 16px;
}

/* 中间显示区域 */
.center-container {
    width: 60%;
}

/* 分页选择 */
.pager {
    display: flex;
    overflow: auto;
    margin: 1em 0;
}

.page-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.space,
.page-list .prev,
.page-list .next,
.page-number {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 1em;
    height: 1em;
    padding: 1em;
}

/* 文章列表 */
.article-list {
    display: flex;
    flex-wrap: wrap;
}

.article-list .article-list-item {
    display: block;
    width: 80%;
    height: 10em;
    margin: 8px auto;
    padding: 16px 32px;
    border-radius: 16px;
}

.article-list .article-list-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
}

.article-list .article-list-item a h1 {
    margin-top: 0;
}

.article-list .article-list-item a p {
    margin: 0;
}

/* 页面标题 */
.page-title {
    text-align: center;
}

/* 标签云 */
.page-tagcloud a {
    display: inline-block;
    text-decoration: none;
    margin: 0 6px;
}

/* 归档页面 */
.page-archive-year {
    font-size: 32px;
}

.page-archive-item {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 0 6px;
}

.page-archive-item-link {
    box-sizing: border-box;
    text-decoration: none;
    width: 80%;
    padding: 8px;
    margin-left: 64px;
}

/* 分类页面 */
.page-category-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}

.page-category-list-item {
    display: inline-block;
    text-align: center;
}

.page-category-list-link {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 16px 32px;
    text-decoration: none;
}

/* 文章时间信息 */
.article-date-info {
    font-size: small;
    font-style: italic;
}

/* 文章内标签 */
.inline-list {
    display: none;
}

.inline-list-title {
    margin: 0;
}

.inline-list-post-tags-list,
.inline-list-post-categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inline-list-post-tags-list-item,
.inline-list-post-categories-list-item {
    display: inline-block;
}

.inline-list-post-tags-list-link,
.inline-list-post-categories-list-link {
    box-sizing: border-box;
    padding: 6px;
}

.contains-task-list {
	list-style: none;
	padding: 0;
}

/* 网站页尾 */
footer {
    text-align: center;
}

/* 1300px */
@media screen and (max-width: 1300px) {
    main {
        width: 90%;
    }
}


/* 800px */
@media screen and (max-width: 800px) {
    main {
        width: 100%;
    }

    .center-container {
        width: 100%;
    }
}

/* 1000px */
@media screen and (max-width: 1000px) {
    .center-container {
        width: 80%;
    }

    .inline-list {
        display: block;
    }
}
