/*
 * 主题布局样式
 * 整体布局与颜色
 * 
 * Created by HuLingOAO
 */

body {
    height: 100%;
    margin: 0;
}

/* 顶部菜单栏 */
#topbar {
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 5;
}

.topbar-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.topbar-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topbar-menu-item a {
    width: fit-content;
    display: block;
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
}

/* 导航栏 */
.topbar-nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.switch-theme-button,
.side-menu-button,
.go-to-top,
.go-back {
    text-decoration: none;
    padding: 6px 12px;
}

.side-menu-button {
    display: none;
}

/* 侧边导航 */
#side-nav {
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    transition: 0.3s all;
}

.side-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.side-menu-item {
    width: 100%;
}

.side-menu-item a {
    display: block;
    padding: 8px 16px ;
    text-decoration: none;
}

.hidden {
    left: -100%;
}

.show {
    left: 0;
}

/* 主体区域 */
main {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 0 1em;
    margin: 0 auto;
}

/* 中间显示区域 */
.main-container {
    width: 60%;
}

/* 侧边栏 */
.left-sidebar,
.right-sidebar {
    width: 20%;
    height: 100%;
    /* margin: 0 auto; */
}

/* 一些句子 */
#saying {
    width: 100%;
}

#saying p{
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

/* 分页选择 */
.pager {
    display: flex;
    overflow: auto;
    margin: 1em 0;
}

.page-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.space,
.page-list .prev,
.page-list .next,
.page-number {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 1em;
    height: 1em;
    padding: 1em;
}

/* 文章列表 */
#article-list {
    display: flex;
    flex-wrap: wrap;
}

#article-list .article-list-item {
    display: block;
    width: 80%;
    height: 10em;
    margin: 6px auto;
    padding: 1em 2em;
}

#article-list .article-list-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
}

#article-list .article-list-item a h1 {
    margin-top: 0;
}

#article-list .article-list-item a p {
    margin: 0;
}

/* 页面标题 */
.page-title {
    text-align: center;
}

/* 侧边栏标签与分类样式 */

.post-tags-list,
.post-categories-list,
.site-tags-list,
.site-categories-list {
    list-style: none;
    padding: 0;
}

.post-tags-list-link,
.post-categories-list-link,
.site-tags-list-link,
.site-categories-list-link {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 4px 8px;
    text-decoration: none;
}

.sidebar-list-title {
    text-align: center;
    font-weight: bold;
}

/* 标签云 */
.page-tagcloud a {
    display: inline-block;
    text-decoration: none;
    margin: 0 6px;
}

/* 归档页面 */
.page-archive-year {
    font-size: 2em;
}

.page-archive-item {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin: 0 6px;
}

.page-archive-item-link {
    box-sizing: border-box;
    text-decoration: none;
    width: 80%;
    padding: 6px;
    margin-left: 3em;
}

/* 分类页面 */
.page-category-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}

.page-category-list-item {
    display: inline-block;
    text-align: center;
}

.page-category-list-link {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 1em 2em;
    text-decoration: none;
}

/* 目录设置 */
.toc {
    padding: 0;
    font-size: 0.9em;
}

.toc-child {
    padding: 0 2em;
}

.toc,
.toc-child {
    list-style: none;
}

.toc-link {
    display: block;
    margin: 6px 0;
    text-decoration: none;
}

.toc-link:hover {
    font-size: medium;
}

/* 文章时间信息 */
.article-date-info {
    font-size: small;
    font-style: italic;
}

/* 文章内标签 */
.inline-list {
    display: none;
}

.inline-list-title {
    margin: 0;
}

.inline-list-post-tags-list,
.inline-list-post-categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inline-list-post-tags-list-item,
.inline-list-post-categories-list-item {
    display: inline-block;
}

.inline-list-post-tags-list-link,
.inline-list-post-categories-list-link {
    box-sizing: border-box;
    padding: 6px;
}

.contains-task-list {
	list-style: none;
	padding: 0;
}

/* 网站页尾 */
footer {
    text-align: center;
}

