html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: whitesmoke;
}

/* 主体区域 */
main {
    box-sizing: border-box;
    display: flex;
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

/* 顶部菜单栏 */
#topbar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 1em;
    z-index: 10;
}

.topbar-content {
    display: flex;
    justify-content: space-between;
}

.topbar-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    padding: 0;
}

.topbar-menu-item a {
    display: block;
    color: #000;
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
}

.topbar-menu-item a.active {
    background-color: black;
    color: white;
}

.topbar-menu-item a:hover:not(.active) {
    background-color: gray;
    color: white;
}

/* 仅在文章中显示的按钮 */
.article-top-bar {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20%;
    align-content: center;
}

.go-to-top,
.go-back {
    text-decoration: none;
    color: gray;
    margin: 0 1em;
}

.go-to-top:hover,
.go-back:hover {
    color: black;
}


/* 中间显示区域 */
.main-content {
    width: 60%;
}

/* 侧边栏 */
.left-sidebar,
.right-sidebar {
    width: 20%;
    height: 100%;
    margin: 0 auto;
}

/* 一些句子 */
#saying {
    width: 100%;
}

#saying p{
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

/* 分页选择 */
.pager {
    display: flex;
    overflow: auto;
    margin: 1em 0;
}

.page-list {
    display: flex;
    margin: 0 auto;
}

.page-list .prev,
.page-list .next,
.page-number {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 1em;
    height: 1em;
    padding: 1em;
    background-color: whitesmoke;
}

.page-list .prev:hover,
.page-list .next:hover,
.page-number:hover {
    background-color: white;
}

.page-number.current {
    background-color: gray;
    color: white;
}

/* 文章列表 */
#article-list {
    display: flex;
    flex-wrap: wrap;
}

#article-list .article-list-item {
    display: block;
    width: 80%;
    height: 10em;
    margin: 6px auto;
    padding: 1em 2em;
    background-color: white;
}

#article-list .article-list-item a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    overflow: hidden;
}

#article-list .article-list-item a h1 {
    margin-top: 0;
}

#article-list .article-list-item a p {
    margin: 0;
}

#article-list .article-list-item a:hover {
    color: gray;
}

/* 页面标题 */
.page-title {
    text-align: center;
}

/* 侧边栏标签与分类样式 */
.site-tags-list,
.site-categories-list {
    list-style: none;
    padding: 0;
}

.site-tags-list-link,
.site-categories-list-link {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 4px 8px;
    text-decoration: none;
    color: black;
}

.site-tags-list-link:hover,
.site-categories-list-link:hover {
    background-color: gray;
    color: white;
}


/* 标签云 */
.page-tagcloud a {
    display: inline-block;
    text-decoration: none;
    margin: 0 6px;
}

/* 归档页面 */
.page-archive-year {
    font-size: 2em;
}

.page-archive-item {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin: 0 6px;
}

.page-archive-item-date {
    color: gray;
}

.page-archive-item-link {
    text-decoration: none;
    width: 100%;
    padding: 6px;
    margin-left: 3em;
    color: black;
}

.page-archive-item-link:hover {
    background-color: gray;
    color: white;
}

/* 分类页面 */
.page-category-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.page-category-list-item {
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 1em;
}

.page-category-list-link {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.page-category-list-link:hover {
    background-color: gray;
    color: white;
}

/* 目录设置 */
.toc {
    padding: 0;
}

.toc-child {
    padding: 0 2em;
}

.toc,
.toc-child {
    list-style: none;
}

.toc-link {
    display: block;
    margin: 6px 0;
    text-decoration: none;
    color: gray;
}

.toc-link:hover {
    font-size: large;
    color: black;
}
