/*
 * 响应式布局样式
 * 不同屏幕大小的显示布局
 *
 * Created by 狐zerOAO
 */

/* 1300px */
@media screen and (max-width: 1300px) {
    main {
        width: 90%;
    }
}

/* 1000px */
@media screen and (max-width: 1000px) {
    .right-sidebar {
        width: 30%;
    }

    .left-sidebar {
        display: none;
    }

    .center-container {
        width: 80%;
    }

    .inline-list {
        display: block;
    }
}

/* 800px */
@media screen and (max-width: 800px) {
    main {
        width: 100%;
    }

    .right-sidebar {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .center-container {
        width: 100%;
    }
}

/* 导航栏显示 */
@media screen and (max-width: 800px) {
    .topbar-container {
        width: 100%;
        justify-content: center;
    }

    #side-nav {
        display: block;
    }
    
    .topbar-menu {
        display: none;
    }

    .side-menu-button {
        display: unset;
    }

    .switch-sidebar {
        display: none;
    }
}
