/*
 * 响应式布局样式
 * 不同屏幕大小的显示布局
 *
 * Created by 狐zerOAO
 */

/* 1300px */
@media screen and (max-width: 1300px) {
    main {
        width: 90%;
    }
}

/* 1000px */
@media screen and (max-width: 1000px) {
    .center-container {
        width: 80%;
    }

    .inline-list {
        display: block;
    }
}

/* 800px */
@media screen and (max-width: 800px) {
    main {
        width: 100%;
    }

    .center-container {
        width: 100%;
    }
}
