.pager {
  display: flex;
  overflow: auto;
  margin: 16px 0;
}
.pager .page-list {
  margin: 0 auto;
  display: flex;
}
.pager .page-list span,
.pager .page-list a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
