/* 侧边导航 */
#side-nav {
    display: none;
    box-sizing: border-box;
	overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: fixed;
    transition: 0.3s all;
}

#side-nav .toc {
    padding-left: 32px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.side-menu-item {
    width: 100%;
}

.side-menu-item a {
    display: block;
    padding: 8px 16px ;
    text-decoration: none;
}

.side-menu-hidden {
    left: -100%;
    display: none;
}

.side-menu-show {
    left: 0;
}

/* 侧边栏 */
.left-sidebar,
.right-sidebar {
    width: 20%;
}

/* 侧边栏标签与分类样式 */
.post-tags-list,
.post-categories-list,
.site-tags-list,
.site-categories-list {
    list-style: none;
    padding: 0;
}

.post-tags-list-link,
.post-categories-list-link,
.site-tags-list-link,
.site-categories-list-link {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 4px 8px;
    text-decoration: none;
}

.sidebar-list-title {
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .left-sidebar {
        width: 30%;
    }

    .right-sidebar {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #side-nav {
        display: block;
    }

    .left-sidebar {
        display: none;
    }
}
