/* 顶部导航栏 */
.topbar {
  background-color: rgba(255, 255, 255, 0.9);
}
.topbar #active-page {
  background-color: black;
  color: white;
}
.topbar .topbar-menu a {
  color: black;
}
.topbar .topbar-menu a:hover:not(.active) {
  background-color: gray;
  color: white;
}
.topbar #btn-switch-theme,
.topbar #btn-search {
  color: black;
}
