/* 分页器 */
.space,
.page-list .prev,
.page-list .next,
.page-number {
  color: gray;
  background-color: whitesmoke;
}
.page-list .prev:hover,
.page-list .next:hover,
.page-number:hover {
  background-color: white;
  color: black;
}
.page-number.current {
  background-color: gray;
  color: white;
}
