/* 文章列表 */
.articles-list .articles-list-item {
  background-color: white;
}
.articles-list .articles-list-item a {
  color: black;
}
.articles-list .articles-list-item a:hover {
  color: gray;
}
.articles-list .articles-list-item .item-footer {
  color: dimgray;
}
.articles-list .articles-list-item .item-footer .item-footer-todo {
  color: orange;
}
.articles-list .articles-list-item .item-footer .item-footer-finished {
  color: limegreen;
}
