/* 标签云 */
.tagcloud-0 {
  color: #b4b4b4;
}
.tagcloud-1 {
  color: #a0a0a0;
}
.tagcloud-2 {
  color: #8c8c8c;
}
.tagcloud-3 {
  color: #787878;
}
.tagcloud-4 {
  color: #646464;
}
.tagcloud-5 {
  color: #505050;
}
.tagcloud-6 {
  color: #3c3c3c;
}
.tagcloud-7 {
  color: #282828;
}
.tagcloud-8 {
  color: #141414;
}
.tagcloud-9 {
  color: #000000;
}
.tagcloud-0:hover,
.tagcloud-1:hover,
.tagcloud-2:hover,
.tagcloud-3:hover,
.tagcloud-4:hover,
.tagcloud-5:hover,
.tagcloud-6:hover,
.tagcloud-7:hover,
.tagcloud-8:hover,
.tagcloud-9:hover {
  color: black;
}
