/*
 * 亮色主题
 */
.light body {
  background-color: whitesmoke;
  color: #323232;
  /* 顶部栏 */
  /* 顶部导航栏 */
  /* 基本样式 */
  /* 主体 */
  /* 分页器 */
  /* 分页器 */
}
.light body #goto-top {
  background-color: #787878;
  color: white;
  opacity: 50%;
}
.light body .topbar {
  background-color: rgba(255, 255, 255, 0.9);
}
.light body .topbar #active-page {
  background-color: black;
  color: white;
}
.light body .topbar .topbar-menu a {
  color: black;
}
.light body .topbar .topbar-menu a:hover:not(.active) {
  background-color: gray;
  color: white;
}
.light body .topbar #btn-switch-theme,
.light body .topbar #btn-search {
  color: black;
}
.light body main {
  /* 归档页 */
  /* 文章列表 */
  /* 分类页 */
  /* 文章 */
  /* 目录 */
  /* 文章标签 */
  /* 日期信息 */
  /* 评论 */
  /* 搜索页 */
  /* 标签云 */
}
.light body main .page-archive-item .page-archive-item-date {
  color: #969696;
}
.light body main .page-archive-item a {
  color: #505050;
}
.light body main .page-archive-item a:hover {
  background-color: white;
  color: black;
}
.light body main .articles-list .articles-list-item {
  background-color: white;
}
.light body main .articles-list .articles-list-item a {
  color: black;
}
.light body main .articles-list .articles-list-item a:hover {
  color: gray;
}
.light body main .articles-list .articles-list-item .item-footer {
  color: dimgray;
}
.light body main .page-category {
  color: #969696;
}
.light body main .page-category a {
  color: #505050;
}
.light body main .page-category a:hover {
  background-color: white;
  color: black;
}
.light body main #article-toc a {
  color: gray;
}
.light body main #article-toc a:hover {
  color: black;
}
.light body main article.article-container a {
  color: #9999ff;
}
.light body main article.article-container a:visited {
  color: orchid;
}
.light body main article.article-container a:hover {
  color: orange;
}
.light body main article.article-container blockquote {
  background-color: #e6e6e6;
  color: gray;
}
.light body main article.article-container hr {
  color: lightgray;
}
.light body main article.article-container table thead {
  background-color: lightgray;
  color: black;
}
.light body main article.article-container table tbody {
  background-color: white;
  color: black;
}
.light body main article.article-container code:not([class*="language"]) {
  background-color: white;
  color: peru;
}
.light body main article.article-container pre code:not([class~="hljs"]) {
  background-color: whitesmoke;
}
.light body main .article-meta-info {
  color: gray;
}
.light body main .article-meta-info a {
  color: #9999ff;
}
.light body main .article-meta-info a:visited {
  color: orchid;
}
.light body main .article-meta-info a:hover {
  color: orange;
}
.light body main .article-date-info {
  color: gray;
}
.light body main .article-comment {
  background-color: white;
}
.light body main #search {
  border-color: lightgray;
}
.light body main .tagcloud-0 {
  color: #b4b4b4;
}
.light body main .tagcloud-1 {
  color: #a0a0a0;
}
.light body main .tagcloud-2 {
  color: #8c8c8c;
}
.light body main .tagcloud-3 {
  color: #787878;
}
.light body main .tagcloud-4 {
  color: #646464;
}
.light body main .tagcloud-5 {
  color: #505050;
}
.light body main .tagcloud-6 {
  color: #3c3c3c;
}
.light body main .tagcloud-7 {
  color: #282828;
}
.light body main .tagcloud-8 {
  color: #141414;
}
.light body main .tagcloud-9 {
  color: #000000;
}
.light body main .tagcloud-0:hover,
.light body main .tagcloud-1:hover,
.light body main .tagcloud-2:hover,
.light body main .tagcloud-3:hover,
.light body main .tagcloud-4:hover,
.light body main .tagcloud-5:hover,
.light body main .tagcloud-6:hover,
.light body main .tagcloud-7:hover,
.light body main .tagcloud-8:hover,
.light body main .tagcloud-9:hover {
  color: black;
}
.light body footer a {
  color: #9999ff;
}
.light body footer a:visited {
  color: tomato;
}
.light body footer a:hover {
  color: #66ccff;
}
.light body .pager .page-list span,
.light body .pager .page-list a {
  color: gray;
}
.light body .pager .page-list span:hover,
.light body .pager .page-list a:hover {
  color: black;
}
.light body .pager .page-list .current {
  color: black;
}
