/* 侧栏 */
.light .side-menu-item a {
    color: black;
}

.light .side-menu-item .active {
    background-color: black;
    color: white;
}

.light .side-menu-item a:hover:not(.active) {
    background-color: gray;
    color: white;
}

.light #side-nav {
    background-color: rgba(240, 240, 240, 0.9);
}

/* 目录 */
.light .toc-link {
    color: gray;
}

.light .toc-link:hover {
    color: black;
}
