/* 分页 */
.light .space,
.light .page-list .prev,
.light .page-list .next,
.light .page-number {
    color: gray;
    background-color: whitesmoke;
}

.light .page-list .prev:hover,
.light .page-list .next:hover,
.light .page-number:hover {
    background-color: white;
    color: black;
}

.light .page-number.current {
    background-color: gray;
    color: white;
}
