/* 文章列表 */
.articles-list .articles-list-item {
  background-color: #1e1e1e;
}
.articles-list .articles-list-item a {
  color: gray;
}
.articles-list .articles-list-item a:hover {
  color: lightgray;
}
