/* 主体 */
main {
  /* 归档页 */
  /* 文章列表 */
  /* 分类页 */
  /* 文章 */
  /* 目录 */
  /* 文章标签 */
  /* 日期信息 */
  /* 评论 */
  /* 搜索页 */
  /* 标签云 */
}
main .page-archive-item .page-archive-item-date {
  color: gray;
}
main .page-archive-item a {
  color: lightgray;
}
main .page-archive-item a:hover {
  background-color: #1e1e1e;
  color: white;
}
main .articles-list .articles-list-item {
  background-color: #282828;
}
main .articles-list .articles-list-item a {
  color: lightgray;
}
main .articles-list .articles-list-item a:hover {
  color: white;
}
main .articles-list .articles-list-item img {
  filter: brightness(0.8);
}
main .articles-list .articles-list-item .item-footer {
  color: gray;
}
main .articles-list .articles-list-item .item-footer .item-footer-todo {
  color: sienna;
}
main .articles-list .articles-list-item .item-footer .item-footer-finished {
  color: seagreen;
}
main .page-category {
  color: gray;
}
main .page-category a {
  color: lightgray;
}
main .page-category a:hover {
  background-color: #1e1e1e;
  color: white;
}
main #article-toc a {
  color: gray;
}
main #article-toc a:hover {
  color: white;
}
main .article-container a {
  color: orchid;
}
main .article-container a:visited {
  color: #9999ff;
}
main .article-container a:hover {
  color: orange;
}
main .article-container blockquote {
  border-left-color: #969696;
  background-color: #282828;
  color: gray;
}
main .article-container hr {
  color: gray;
}
main .article-container table thead {
  background-color: #141414;
}
main .article-container table tbody {
  background-color: #232323;
}
main .article-container img {
  filter: brightness(0.8);
}
main .article-container code:not([class*="language"]) {
  background-color: #323232;
  color: sandybrown;
}
main .article-container pre code:not([class~="hljs"]) {
  background-color: black;
}
main .article-meta-info {
  color: gray;
}
main .article-meta-info a {
  color: orchid;
}
main .article-meta-info a:visited {
  color: #9999ff;
}
main .article-meta-info a:hover {
  color: orange;
}
main .article-date-info {
  color: gray;
}
main .article-comment {
  background-color: #1e1e1e;
}
main .article-comment #gitalk-container img {
  border-radius: 100%;
}
main .article-comment #gitalk-container blockquote {
  background: #e0e0e9;
}
main #search {
  background-color: #1e1e1e;
  border-color: gray;
  color: lightgray;
}
main .tagcloud-0 {
  color: #787878;
}
main .tagcloud-1 {
  color: #878787;
}
main .tagcloud-2 {
  color: #969696;
}
main .tagcloud-3 {
  color: #a5a5a5;
}
main .tagcloud-4 {
  color: #b4b4b4;
}
main .tagcloud-5 {
  color: #c3c3c3;
}
main .tagcloud-6 {
  color: #d2d2d2;
}
main .tagcloud-7 {
  color: #e1e1e1;
}
main .tagcloud-8 {
  color: #f0f0f0;
}
main .tagcloud-9 {
  color: #ffffff;
}
main .tagcloud-0:hover,
main .tagcloud-1:hover,
main .tagcloud-2:hover,
main .tagcloud-3:hover,
main .tagcloud-4:hover,
main .tagcloud-5:hover,
main .tagcloud-6:hover,
main .tagcloud-7:hover,
main .tagcloud-8:hover,
main .tagcloud-9:hover {
  color: white;
}
