.topbar {
  background-color: rgba(30, 30, 30, 0.9);
}
.topbar #active-page {
  background-color: gray;
  color: whitesmoke;
}
.topbar .topbar-menu a {
  color: lightgray;
}
.topbar .topbar-menu a:hover:not(.active) {
  background-color: lightgray;
  color: black;
}
.topbar .topbar-icon-buttons .icon-button {
  color: lightgray;
}
