/* 分页 */
.space,
.page-list .prev,
.page-list .next,
.page-number {
  background-color: gray;
  color: black;
}
.page-list .prev:hover,
.page-list .next:hover,
.page-number:hover {
  background-color: gray;
  color: white;
}
.page-number.current {
  background-color: dimgray;
  color: black;
}
