/* 分页 */
.dark .space,
.dark .page-list .prev,
.dark .page-list .next,
.dark .page-number {
    background-color: gray;
    color: black;
}

.dark .page-list .prev:hover,
.dark .page-list .next:hover,
.dark .page-number:hover {
    background-color: gray;
    color: white;
}

.dark .page-number.current {
    background-color: dimgray;
    color: black;
}

