/*
 * 顶栏的暗色模式样式
 *
 * Created by 狐zerOAO
 */
.dark #topbar {
    background-color: rgba(30, 30, 30, 0.9);
}

.dark .topbar-menu-item a,
.dark .btn-switch-theme,
.dark .btn-side-menu,
.dark .btn-search {
    color: lightgray;
}

.dark .topbar-menu-item .active {
    background-color: gray;
}

.dark .topbar-menu-item a:hover:not(.active) {
    background-color: lightgray;
    color: black;
}
