.articles-list .articles-list-item {
  background-color: #282828;
}
.articles-list .articles-list-item a {
  color: lightgray;
}
.articles-list .articles-list-item a:hover {
  color: white;
}
.articles-list .articles-list-item img {
  filter: brightness(0.8);
}
.articles-list .articles-list-item .item-footer {
  color: gray;
}
.articles-list .articles-list-item .item-footer .item-footer-todo {
  color: sienna;
}
.articles-list .articles-list-item .item-footer .item-footer-finished {
  color: seagreen;
}
