/* 目录 */
#article-toc a {
  color: gray;
}
#article-toc a:hover {
  color: white;
}
#article-toc .toc-level-2 > a.toc-link {
  color: lightgray;
}
#article-toc .toc-level-2 > a:hover {
  color: white;
}
#article-toc::-webkit-scrollbar-track {
  background: gray;
}
#article-toc::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}
#article-toc::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}
#article-toc::-webkit-scrollbar-corner {
  background: #e6e6e6;
}
.article-container a {
  color: orchid;
}
.article-container a:visited {
  color: #9999ff;
}
.article-container a:hover {
  color: orange;
}
.article-container blockquote {
  border-left-color: #969696;
  background-color: #282828;
  color: gray;
}
.article-container hr {
  color: gray;
}
.article-container table thead {
  background-color: #141414;
}
.article-container table tbody {
  background-color: #232323;
}
.article-container img {
  filter: brightness(0.8);
}
.article-container code:not([class*="language"]) {
  background-color: #323232;
  color: sandybrown;
}
.article-container pre code:not([class~="hljs"]) {
  background-color: black;
}
.article-container pre code::-webkit-scrollbar-track {
  background: gray;
}
.article-container pre code::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}
.article-container pre code::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}
.article-container pre code::-webkit-scrollbar-corner {
  background: #e6e6e6;
}
.article-container .katex-display .katex::-webkit-scrollbar-track {
  background: gray;
}
.article-container .katex-display .katex::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}
.article-container .katex-display .katex::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}
.article-container .katex-display .katex::-webkit-scrollbar-corner {
  background: #e6e6e6;
}
/* 文章标签 */
.article-meta-info {
  color: gray;
}
.article-meta-info a {
  color: orchid;
}
.article-meta-info a:visited {
  color: #9999ff;
}
.article-meta-info a:hover {
  color: orange;
}
/* 日期信息 */
.article-date-info {
  color: gray;
}
/* 评论 */
.article-comment {
  background-color: #1e1e1e;
}
.article-comment #gitalk-container img {
  border-radius: 100%;
}
.article-comment #gitalk-container blockquote {
  background: #e0e0e9;
}
