/* 文章列表 */
.articles-list .articles-list-item {
  background-color: #282828;
}
.articles-list .articles-list-item a {
  color: lightgray;
}
.articles-list .articles-list-item a:hover {
  color: white;
}
