/* 文章 */
/* 目录 */
#article-toc a {
  color: gray;
}
#article-toc a:hover {
  color: white;
}
article.article-container a {
  color: orchid;
}
article.article-container a:visited {
  color: #9999ff;
}
article.article-container a:hover {
  color: orange;
}
article.article-container blockquote {
  border-left-color: #969696;
  background-color: #282828;
  color: gray;
}
article.article-container hr {
  color: gray;
}
article.article-container table thead {
  background-color: #505050;
  color: lightgray;
}
article.article-container table tbody {
  background-color: dimgray;
  color: lightgray;
}
article.article-container img {
  filter: brightness(0.8);
}
article.article-container code:not([class*="language"]) {
  background-color: #323232;
  color: sandybrown;
}
article.article-container pre code:not([class~="hljs"]) {
  background-color: black;
}
/* 文章标签 */
.article-meta-info {
  color: gray;
}
.article-meta-info a {
  color: orchid;
}
.article-meta-info a:visited {
  color: #9999ff;
}
.article-meta-info a:hover {
  color: orange;
}
/* 日期信息 */
.article-date-info {
  color: gray;
}
/* 评论 */
.article-comment {
  background-color: #323232;
}
