/* 归档页面的样式 */
.page-archive-year {
  font-size: 32px;
}
.page-archive-item {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin: 0 6px;
}
.page-archive-item a {
  text-decoration: none;
  width: 80%;
  padding: 8px;
  margin-left: 64px;
  border-radius: 8px;
  transition: 100ms;
}
