/* 归档页面的样式 */
.page-archive {
  width: 80%;
  margin: 16px auto;
}
.page-archive .page-archive-year {
  font-size: 32px;
}
.page-archive .page-archive-item {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin: 0 6px;
}
.page-archive .page-archive-item a {
  text-decoration: none;
  width: 80%;
  padding: 8px;
  margin-left: 64px;
  border-radius: 8px;
  transition: 100ms;
}
@media (max-width: 480px) {
  .page-archive {
    width: 90%;
  }
}
