.articles-list .articles-list-item {
  display: block;
  width: 80%;
  margin: 16px auto;
  border-radius: 16px;
  overflow: hidden;
}
.articles-list .articles-list-item a {
  margin: 32px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  transition: 0ms;
}
.articles-list .articles-list-item .item-gallery {
  margin: 0px;
}
.articles-list .articles-list-item .item-gallery img {
  cursor: pointer;
  width: 100%;
}
.articles-list .articles-list-item .item-title {
  font-size: 24px;
  margin-top: 0;
  transition: 0ms;
}
.articles-list .articles-list-item .item-content {
  margin: 0;
  transition: 0ms;
}
.articles-list .articles-list-item .item-footer {
  display: flex;
  justify-content: space-between;
  margin: 32px;
  position: relative;
}
.articles-list .articles-list-item .item-footer .item-footer-todo {
  margin: 0px;
  text-align: left;
}
.articles-list .articles-list-item .item-footer .item-footer-todo .item-footer-todo-msg {
  display: inline;
  margin-right: 8px;
}
.articles-list .articles-list-item .item-footer .item-footer-pin {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
@media (max-width: 480px) {
  .articles-list .articles-list-item {
    width: 90%;
  }
}
