/* 文章列表 */
.articles-list .articles-list-item {
  display: block;
  width: 80%;
  margin: 16px auto;
  border-radius: 16px;
  overflow: hidden;
}
.articles-list .articles-list-item a {
  margin: 32px 32px 0 32px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  transition: 0ms;
}
.articles-list .articles-list-item .item-gallery {
  margin: 0px;
}
.articles-list .articles-list-item .item-gallery img {
  cursor: pointer;
  width: 100%;
}
.articles-list .articles-list-item .item-title {
  font-size: 24px;
  margin-top: 0;
}
.articles-list .articles-list-item .item-content {
  margin: 0;
}
.articles-list .articles-list-item .item-footer {
  text-align: right;
  margin: 16px 32px;
}
.articles-list .articles-list-item .item-footer p {
  margin: 0px;
}
@media (max-width: 480px) {
  .articles-list .articles-list-item {
    width: 90%;
  }
}
