/* 分类页面 */
.page-category .category-list {
  list-style: none;
  display: inline-block;
  padding: 0px;
  width: 100%;
}
.category-list-item {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category-list-item a {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
}
.category-list-item span {
  position: floor;
  padding: 8px;
}
.category-list-item .category-list-child {
  padding-left: 16px;
  width: 100%;
}
