figure.highlight {
  overflow-x: auto;
  border-radius: 6px;
}
figure.highlight table {
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: unset;
  border: unset;
}
figure.highlight table tbody {
  background: #0d1117;
}
figure.highlight table td {
  border: none;
  padding: unset;
}
figure.highlight table th {
  border: none;
  padding: unset;
}
figure.highlight table .gutter {
  text-align: right;
  border-right: gray solid 1px;
}
figure.highlight table .gutter pre {
  padding: 0 8px;
  color: green;
}
figure.highlight table .code pre {
  padding-left: 8px;
  margin: 0;
  /*!
                 * Theme: GitHub Dark
                 * Description: Dark theme as seen on github.com
                 * Author: github.com
                 * Maintainer: @Hirse
                 * Updated: 2021-05-15
                 *
                 * Outdated base version: https://github.com/primer/github-syntax-dark
                 * Current colors taken from GitHub's CSS
                 */
}
figure.highlight table .code pre code {
  margin: 0;
  padding: 0;
}
figure.highlight table .code pre code mark {
  background-color: #505050;
}
figure.highlight table .code pre .hljs {
  color: #c9d1d9;
  background: #0d1117;
}
figure.highlight table .code pre .hljs-doctag,
figure.highlight table .code pre .hljs-keyword,
figure.highlight table .code pre .hljs-meta .hljs-keyword,
figure.highlight table .code pre .hljs-template-tag,
figure.highlight table .code pre .hljs-template-variable,
figure.highlight table .code pre .hljs-type,
figure.highlight table .code pre .hljs-variable.language_ {
  color: #ff7b72;
}
figure.highlight table .code pre .hljs-title,
figure.highlight table .code pre .hljs-title.class_,
figure.highlight table .code pre .hljs-title.class_.inherited__,
figure.highlight table .code pre .hljs-title.function_ {
  color: #d2a8ff;
}
figure.highlight table .code pre .hljs-attr,
figure.highlight table .code pre .hljs-attribute,
figure.highlight table .code pre .hljs-literal,
figure.highlight table .code pre .hljs-meta,
figure.highlight table .code pre .hljs-number,
figure.highlight table .code pre .hljs-operator,
figure.highlight table .code pre .hljs-selector-attr,
figure.highlight table .code pre .hljs-selector-class,
figure.highlight table .code pre .hljs-selector-id,
figure.highlight table .code pre .hljs-variable {
  color: #79c0ff;
}
figure.highlight table .code pre .hljs-meta .hljs-string,
figure.highlight table .code pre .hljs-regexp,
figure.highlight table .code pre .hljs-string {
  color: #a5d6ff;
}
figure.highlight table .code pre .hljs-built_in,
figure.highlight table .code pre .hljs-symbol {
  color: #ffa657;
}
figure.highlight table .code pre .hljs-code,
figure.highlight table .code pre .hljs-comment,
figure.highlight table .code pre .hljs-formula {
  color: #8b949e;
}
figure.highlight table .code pre .hljs-name,
figure.highlight table .code pre .hljs-quote,
figure.highlight table .code pre .hljs-selector-pseudo,
figure.highlight table .code pre .hljs-selector-tag {
  color: #7ee787;
}
figure.highlight table .code pre .hljs-subst {
  color: #c9d1d9;
}
figure.highlight table .code pre .hljs-section {
  color: #1f6feb;
  font-weight: 700;
}
figure.highlight table .code pre .hljs-bullet {
  color: #f2cc60;
}
figure.highlight table .code pre .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}
figure.highlight table .code pre .hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}
figure.highlight table .code pre .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}
figure.highlight table .code pre .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}
