.page-category {
  width: 80%;
  margin: 0 auto;
  color: var(--huzerovo-normal-text);
}
.page-category a {
  color: var(--huzerovo-additional-text);
}
.page-category a:hover {
  background-color: var(--huzerovo-background-highlight);
  color: var(--huzerovo-notable-text);
}
.page-category .category-list {
  list-style: none;
  display: inline-block;
  padding: 0px;
  width: 100%;
  margin: 0;
}
@media (max-width: 480px) {
  .page-category {
    width: 90%;
  }
}
.category-list-item {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.category-list-item .category-list-link {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  margin-right: 32px;
}
.category-list-item .category-list-count {
  padding-top: 8px;
  position: absolute;
  right: 0px;
}
.category-list-item .category-list-child {
  padding-left: 16px;
  width: 100%;
}
