.search-bar {
  display: flex;
}
#search-input {
  margin: 16px auto;
  height: 40px;
  width: 80%;
  font-size: 16px;
  border: solid 1px;
  border-radius: 16px;
  border-color: var(--huzerovo-line);
  background: var(--huzerovo-background-highlight);
  color: var(--huzerovo-normal-text);
  padding: 0px 16px;
}
